{% extends "base.html" %}

{% block content %}
<div class="min-h-screen bg-gray-100">
    <div class="max-w-3xl mx-auto px-4 py-8">
        <!-- Post Section -->
        <div class="space-y-8">
            <!-- Post 1 -->
            <div class="bg-white rounded-lg shadow-md p-6">
                <!-- Post Content -->
                {% for feed in feeds %}

                <h2 class="text-xl font-bold text-gray-800 mb-2">{{ feed.title }}</h2>
                <h4 class="text-xs text-gray-800 text-gray-800 mb-4">{{ feed.user.username }}</h4>

                <p class="text-gray-600 mb-4">{{ feed.content }}</p>


                <!-- Vote Buttons -->
                <div class="flex justify-between">


                    <div>
                        <button class="text-gray-600 hover:text-gray-800 focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                            </svg>
                        </button>
                    </div>


                    <div>
                        <button class="text-gray-600 hover:text-gray-800 focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <a href="{{ url_for('feed.create_feed') }}" class="fixed bottom-10 right-10 px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-full shadow-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Add Post
    </a>
</div>

{% endblock %}
